.button1 .button2 {
  position: relative;
  cursor: pointer;
  padding: 20px 40px;
}

.button1 {
  background-color: var(--color-orange);
}
.button2 {
  background-color: var(--color-primary);
}

.popupBox {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  width: auto;
  .popupText {
    font-size: 15px;
  }
}
.textBox {
  display: flex;
  align-items: center;
  .icon {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .text {
    font-size: 22px;
    font-weight: 700;
  }
}

.underText {
}

@media screen and (max-width: 1280px) {
}
