.button {
  display: inline-block;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 250px;
  padding: 10px;
  text-align: center;
  background-color: var(--color-orange);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-bold);
      color: var(--color-light);
    }
    .icon {
      margin-left: 8px;
      font-size: var(--font-size-lg);
      color: var(--color-light);
    }
  }
}

@media screen and (max-width: 1280px) {
  .button {
    .text {
    }
    .icon {
    }
  }
}
