.logo {
  display: block;
  width: 100%;
  text-decoration: none;
  .image {
    width: 100%;
    height: auto;
  }
}

// props
.small {
  width: 200px;
}
.medium {
  width: 300px;
}
.large {
  width: 400px;
}
