.seo {
  width: 100vw;
  height: auto;
  padding: 100px 0 100px 0;
  background-color: #f2f6fe;
  .container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    .content {
    }
  }
}

@media screen and (max-width: 1280px) {
}
