.card {
  width: 330px;
  height: 350px;
  border: 1px solid red;
  .imageBox {
    .pc_image {
    }
    .phone_image {
    }
  }
  .content {
    .title {
    }
    .link {
      .text {
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}
